

body    
{background-color: #eaf6f6;
}
h1  {
color: #66bfbf;
}

p
{color: black;
}

img {
    border: 5px solid #555;
  }

h2 {
      color:midnightblue
}
  
    


  hr {
    border-style: none;
    width: 15%;
    border-top-style: dotted;
    border-color: gray;
    border-width: 7px;
  }
h3  {
  color: #072227;
}